<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pasteleria Corona</title>
    <link rel="stylesheet" href="../../styles/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../styles/styles.css">
</head>

<body>
    <header class="header">
        <a href="/">
            <img class="header__logo" src="../img/logo.ico" alt="logotipo">
        </a>
    </header>

    <nav class="navbar ">
        <a class="navbar_links" href="/">Pasteles</a>
        <a class="navbar_links" href="nosotros.html">Nosotros</a>
        <a class="navbar_links" href="contacto.html">Contacto</a>
        <a class="navbar_links" href="ubicacion.html">Ubicacion</a>
        <a class="navbar_links" href="adornos.html">Ingredientes y Adornos</a>
        <a class="navbar_links" href="ordenar.html">Ordenar</a>
        
    </nav>

    <main>
        <h1>Ubicacion</h1>

        <div id="ubicacion">

        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="../js/ubicacion.js"></script>


    <footer class="footer">
        <img class="footer_logo" src="../img/logo.ico" alt="logotipo">
        <p class="derechos">Todos los Derechos Reservados Industrias Corona ©</p>
    </footer>

</body>

</html>